  <h1 class="align-items-center">CEDET</h1>

<div col-md-12>
  <div class="col-md-3">
    <div class="card-body">
      <p class="card-text">Exemplo pergunta</p>
        <div class="btn-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>

        <div>
          <div class="btn-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-body">
      <p class="card-text">Exemplo pergunta</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>